<img src='http://www-scf.usc.edu/~ghasemig/images/sharif.png' alt="SUT logo" width=200 height=200 align=left class="saturate" >

<br>
<font face="Times New Roman">
<div dir=ltr align=center>
<font color=0F5298 size=7>
    Introduction to Machine Learning <br>
<font color=2565AE size=5>
    Computer Engineering Department <br>
    Fall 2022<br>
<font color=3C99D size=5>
    Project <br>
<font color=696880 size=4>
    Project Team 
    
    
____

### Full Name : Mohammad Bagher Soltani, Masih Najafi
### Student Number : 98105813, ?
___

# Introduction

In this project, we are going to have a brief and elementary hands-on real-world project, predicting breast cancer survival using machine learning models with clinical data and gene expression profiles.

In [282]:
# imports
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

# Data Documentation

For this purpose, we will use "Breast Cancer Gene Expression Profiles (METABRIC)" data. 
The first 31 columns of data contain clinical information including death status.
The next columns of the data contain gene's related information which includes both gene expressions and mutation information. (gene's mutation info columns have been marked with "_mut" at the end of the names of the columns) 
For more information please read the [data documentation](https://www.kaggle.com/datasets/raghadalharbi/breast-cancer-gene-expression-profiles-metabric).

# Data Preparation (15 Points)

In this section you must first split data into three datasets:
<br>
1- clinical dataset
<br>
2- gene expressions dataset
<br>
3- gene mutation dataset. (We will not use this dataset in further steps of the project)

## Data Loading & Splitting

In [283]:
# TODO
dataseet = pd.read_csv('METABRIC_RNA_Mutation.csv', low_memory=False)
dataseet.head(5)

,patient_id,age_at_diagnosis,type_of_breast_surgery,cancer_type,cancer_type_detailed,cellularity,chemotherapy,pam50_+_claudin-low_subtype,cohort,er_status_measured_by_ihc,...,mtap_mut,ppp2cb_mut,smarcd1_mut,nras_mut,ndfip1_mut,hras_mut,prps2_mut,smarcb1_mut,stmn2_mut,siah1_mut
0,0,75.65,MASTECTOMY,Breast Cancer,Breast Invasive Ductal Carcinoma,NaN,0,claudin-low,1.0,Positve,...,0,0,0,0,0,0,0,0,0,0
1,2,43.19,BREAST CONSERVING,Breast Cancer,Breast Invasive Ductal Carcinoma,High,0,LumA,1.0,Positve,...,0,0,0,0,0,0,0,0,0,0
2,5,48.87,MASTECTOMY,Breast Cancer,Breast Invasive Ductal Carcinoma,High,1,LumB,1.0,Positve,...,0,0,0,0,0,0,0,0,0,0
3,6,47.68,MASTECTOMY,Breast Cancer,Breast Mixed Ductal and Lobular Carcinoma,Moderate,1,LumB,1.0,Positve,...,0,0,0,0,0,0,0,0,0,0
4,8,76.97,MASTECTOMY,Breast Cancer,Breast Mixed Ductal and Lobular Carcinoma,High,1,LumB,1.0,Positve,...,0,0,0,0,0,0,0,0,0,0

In [284]:
# Get column names for clinical, gene expression and gene mutation datasets

columns = dataseet.columns
clinical_columns = columns[:31]
gene_columns = columns[31:]
gene_mut_columns = pd.Index(filter(lambda s: s.endswith('_mut'),columns))
gene_expr_columns = pd.Index(set(gene_columns) - set(gene_mut_columns))

print(f'Number of clinical columns {len(clinical_columns)}')
print(f'Number of gene expression columns {len(gene_expr_columns)}')
print(f'Number of gene mutation columns {len(gene_mut_columns)}')

Number of clinical columns 31
Number of gene expression columns 489
Number of gene mutation columns 173

In [285]:
clinical_dataset = dataseet[clinical_columns]
gene_expr_dataset = dataseet[gene_expr_columns]
gene_mut_dataset = dataseet[gene_mut_columns]

## EDA

For each dataset, you must perform a sufficient EDA.

In [286]:
clinical_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   patient_id                      1904 non-null   int64
 1   age_at_diagnosis                1904 non-null   float64
 2   type_of_breast_surgery          1882 non-null   object
 3   cancer_type                     1904 non-null   object
 4   cancer_type_detailed            1889 non-null   object
 5   cellularity                     1850 non-null   object
 6   chemotherapy                    1904 non-null   int64
 7   pam50_+_claudin-low_subtype     1904 non-null   object
 8   cohort                          1904 non-null   float64
 9   er_status_measured_by_ihc       1874 non-null   object
 10  er_status                       1904 non-null   object
 11  neoplasm_histologic_grade       1832 non-null   float64
 12  her2_status_measured_by_snp6    1904 non-null   object
 13  her2_status                     1904 non-null   object
 14  tumor_other_histologic_subtype  1889 non-null   object
 15  hormone_therapy                 1904 non-null   int64
 16  inferred_menopausal_state       1904 non-null   object
 17  integrative_cluster             1904 non-null   object
 18  primary_tumor_laterality        1798 non-null   object
 19  lymph_nodes_examined_positive   1904 non-null   float64
 20  mutation_count                  1859 non-null   float64
 21  nottingham_prognostic_index     1904 non-null   float64
 22  oncotree_code                   1889 non-null   object
 23  overall_survival_months         1904 non-null   float64
 24  overall_survival                1904 non-null   int64
 25  pr_status                       1904 non-null   object
 26  radio_therapy                   1904 non-null   int64
 27  3-gene_classifier_subtype       1700 non-null   object
 28  tumor_size                      1884 non-null   float64
 29  tumor_stage                     1403 non-null   float64
 30  death_from_cancer               1903 non-null   object
dtypes: float64(9), int64(5), object(17)
memory usage: 461.2+ KB

In [287]:
clinical_dataset.describe()

,patient_id,age_at_diagnosis,chemotherapy,cohort,neoplasm_histologic_grade,hormone_therapy,lymph_nodes_examined_positive,mutation_count,nottingham_prognostic_index,overall_survival_months,overall_survival,radio_therapy,tumor_size,tumor_stage
count,1904.000000,1904.000000,1904.000000,1904.000000,1832.000000,1904.000000,1904.000000,1859.000000,1904.000000,1904.000000,1904.000000,1904.000000,1884.000000,1403.000000
mean,3921.982143,61.087054,0.207983,2.643908,2.415939,0.616597,2.002101,5.697687,4.033019,125.121324,0.420693,0.597164,26.238726,1.750535
std,2358.478332,12.978711,0.405971,1.228615,0.650612,0.486343,4.079993,4.058778,1.144492,76.334148,0.493800,0.490597,15.160976,0.628999
min,0.000000,21.930000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,896.500000,51.375000,0.000000,1.000000,2.000000,0.000000,0.000000,3.000000,3.046000,60.825000,0.000000,0.000000,17.000000,1.000000
50%,4730.500000,61.770000,0.000000,3.000000,3.000000,1.000000,0.000000,5.000000,4.042000,115.616667,0.000000,1.000000,23.000000,2.000000
75%,5536.250000,70.592500,0.000000,3.000000,3.000000,1.000000,2.000000,7.000000,5.040250,184.716667,1.000000,1.000000,30.000000,2.000000
max,7299.000000,96.290000,1.000000,5.000000,3.000000,1.000000,45.000000,80.000000,6.360000,355.200000,1.000000,1.000000,182.000000,4.000000

In [288]:
gene_expr_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Columns: 489 entries, e2f6 to tgfb3
dtypes: float64(489)
memory usage: 7.1 MB

In [289]:
gene_expr_dataset.describe()

,e2f6,lama2,ptpn22,cdk4,gh1,srd5a3,rasgef1b,hsd17b8,tgfbr1,csf1,...,tbl1xr1,sik1,cdkn1a,dtx3,mdm2,hsd17b3,prkd1,dll3,acvrl1,tgfb3
count,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1904.000000,...,1.904000e+03,1.904000e+03,1904.000000,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03
mean,-5.252101e-07,1.050420e-07,-1.050420e-07,-9.978992e-07,-4.201681e-07,-9.453782e-07,-5.252101e-07,5.777311e-07,5.252101e-07,0.000001,...,-3.676471e-07,-5.252101e-08,0.000001,5.252101e-07,9.453782e-07,-1.575630e-07,-3.151261e-07,-4.201681e-07,-4.726891e-07,-2.100840e-07
std,1.000263e+00,1.000262e+00,1.000263e+00,1.000262e+00,1.000263e+00,1.000262e+00,1.000263e+00,1.000262e+00,1.000262e+00,1.000262,...,1.000263e+00,1.000263e+00,1.000263,1.000262e+00,1.000262e+00,1.000264e+00,1.000262e+00,1.000263e+00,1.000264e+00,1.000264e+00
min,-3.868800e+00,-2.239200e+00,-2.357200e+00,-4.524700e+00,-3.479000e+00,-2.719400e+00,-4.132600e+00,-3.205300e+00,-3.236500e+00,-2.819000,...,-3.897100e+00,-2.292900e+00,-3.097600,-3.115500e+00,-2.065200e+00,-2.795900e+00,-2.419500e+00,-1.231600e+00,-2.419900e+00,-2.996400e+00
25%,-6.439750e-01,-7.446750e-01,-6.632000e-01,-5.941750e-01,-5.879750e-01,-6.741750e-01,-6.552250e-01,-6.170000e-01,-6.830250e-01,-0.648975,...,-6.138500e-01,-7.111500e-01,-0.667325,-6.363250e-01,-6.108000e-01,-6.467500e-01,-7.258750e-01,-5.762250e-01,-7.091500e-01,-6.514500e-01
50%,-4.535000e-02,-1.255000e-01,-1.882500e-01,-1.014000e-01,-2.915000e-02,-1.422500e-01,-9.600000e-03,6.685000e-02,-3.150000e-02,-0.121500,...,-7.585000e-02,-1.615000e-01,-0.033950,-1.000000e-03,-1.256000e-01,-5.270000e-02,-7.310000e-02,-3.325500e-01,-1.211500e-01,6.490000e-02
75%,6.060000e-01,6.904500e-01,4.218500e-01,4.744250e-01,5.145750e-01,5.146000e-01,6.355750e-01,6.563250e-01,6.287750e-01,0.528150,...,5.130500e-01,5.667250e-01,0.555950,6.028000e-01,4.318250e-01,4.931250e-01,6.503500e-01,1.537750e-01,5.929500e-01,7.305250e-01
max,4.785400e+00,3.690400e+00,6.818000e+00,8.312600e+00,1.492280e+01,6.329000e+00,4.182200e+00,3.531400e+00,3.732000e+00,6.280700,...,7.064900e+00,4.437400e+00,7.003100,1.052530e+01,8.899200e+00,8.292400e+00,3.775700e+00,8.892900e+00,4.122000e+00,2.406700e+00

In [290]:
gene_mut_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Columns: 173 entries, pik3ca_mut to siah1_mut
dtypes: object(173)
memory usage: 2.5+ MB

In [291]:
gene_mut_dataset.describe()

,pik3ca_mut,tp53_mut,muc16_mut,ahnak2_mut,kmt2c_mut,syne1_mut,gata3_mut,map3k1_mut,ahnak_mut,dnah11_mut,...,mtap_mut,ppp2cb_mut,smarcd1_mut,nras_mut,ndfip1_mut,hras_mut,prps2_mut,smarcb1_mut,stmn2_mut,siah1_mut
count,1904,1904,1904,1904,1904,1904,1904,1904,1904,1904,...,1904,1904,1904,1904,1904,1904,1904,1904,1904,1904
unique,160,343,298,248,222,200,128,194,153,154,...,5,5,5,4,4,3,3,3,3,2
top,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,1109,1245,1578,1593,1670,1672,1674,1706,1728,1729,...,1900,1900,1900,1901,1901,1902,1902,1902,1902,1903

In [292]:
# clean data means data with no NaN value in any column
def clean_stats(ds):
    return '''clean data: {0}'''.format(ds.shape[0] - ds.isnull().any(axis=1).sum())

print(f'Clinical dataset {clean_stats(clinical_dataset)}')
print(f'Gene expression dataset {clean_stats(gene_expr_dataset)}')
print(f'Gene mutation dataset {clean_stats(gene_mut_dataset)}')

Clinical dataset clean data: 1092
Gene expression dataset clean data: 1904
Gene mutation dataset clean data: 1904

In [293]:
def dtype_stats(ds):
    return '''
    columns: {0}, object columns: {1}, int columns: {2}, float columns: {3}
    '''.format(len(ds.columns),
               (ds.dtypes == object).sum(),
               (ds.dtypes == int).sum(),
               (ds.dtypes == float).sum())

print(f'Clinical dataset: {dtype_stats(clinical_dataset)}')
print(f'Gene expression dataset: {dtype_stats(gene_expr_dataset)}')
print(f'Gene mutation dataset: {dtype_stats(gene_mut_dataset)}')

Clinical dataset:
    columns: 31, object columns: 17, int columns: 5, float columns: 9

Gene expression dataset:
    columns: 489, object columns: 0, int columns: 0, float columns: 489

Gene mutation dataset:
    columns: 173, object columns: 173, int columns: 0, float columns: 0

In [294]:
# Convert categorical data to numerical data for clinical dataset
ordinal_encoder = OrdinalEncoder()
encoded = ordinal_encoder.fit_transform(clinical_dataset)
encoded_df = pd.DataFrame(encoded)
encoded_df.columns = clinical_dataset.columns
encoded_df.index = clinical_dataset.index
clinical_dataset = encoded_df

print(f'Clinical dataset {dtype_stats(clinical_dataset)}')

Clinical dataset
    columns: 31, object columns: 0, int columns: 0, float columns: 31

## Dimension Reduction (20 + Up to 10 Points Optional)

For each dataset, investigate whether it is needed to use a dimensionality reduction approach or not. If yes, please reduce the dataset's dimension. You can use UMAP for this purpose but any other approach is acceptable. Finding the most important features contains extra points.

In [295]:
# TODO

# Classic Model (25 Points)

In this section, you must implement a classic classification model for clinical, gene expressions, and reduced gene expressions datasets. Using Random Forest is suggested. (minimum acceptable accuracy = 60%)

In [296]:
# TODO

# Neural Network (30 Points)

In this section, you must implement a neural network model for clinical, gene expressions and reduced gene expressions datasets. Using the MPL models is suggested. (minimum acceptable accuracy = 60%)

In [297]:
# TODO

# Model Comparison (10 Points)

Compare different models and different datasets (clinical, gene expressions, and gene reduced expressions) and try to explain their differences.

#### \# TODO